html, body{
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
}

#logo{
    height: 70px;
}

header {
    z-index: 1000;
    background-color: #555;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

.navbar-brand{
    margin-left: 40px;
}

.nav-link{
    color: #fff;
    margin-left: 30px;
}

.nav-link:hover{
    color: #000;
}

.container{
    margin: auto;
    margin-top: 130px;
}

h1{
    margin-bottom: 70px;
}

h2{
    margin-bottom: 30px;
}

.row{
    margin-bottom: 50px;
}

#affiche{
    width: 450px;
    height: auto;
}

#affiche:hover{
    transform: scale(1.1);
}

