#logo{
    height: 70px;
}

header {
    z-index: 1000;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

.nav-link{
    color: #fff;
}

.container{
    margin-top: 130px;
}

#hero-image{
    height: 500px;
}